@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(151, 77, 180);
    /* box-shadow: rgba(0, 0, 0, 0.356) 0px 0px 50px 0px; */
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.unselect, header a, #card {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    margin-top: 1%;
    padding: 5px;
    border: 2px solid rgb(166, 120, 184);
    min-width: clamp(40%, 60%, 80%);
    width: clamp(40%, 60%, 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(215, 212, 255);
    border-radius: 15px 15px 0 0;
    border-bottom: none;
    animation: fadein 1s forwards;
}

header a {
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    transition: 200ms;
    color: rgb(151, 77, 180);
    animation: fadein 1s forwards;
    user-select: none;
}

header a:hover {
    background-color: rgb(235, 234, 255);
    border-radius: 5px;
    transition: 300ms;
    letter-spacing: 2px;
}

header a + a {
    margin-left: 16px;
}

#entrar:hover {
    background-color: rgb(189, 255, 205);
}

/* SECTIONS */

#inicio {
    padding: 5px;
    border: 2px solid rgb(166, 120, 184);
    width: clamp(40%, 60%, 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(215, 212, 255);
    border-radius: 0 0 15px 15px;
    border-bottom: none;
    animation: fadein 1s forwards;
}

#inicio h1 {
    animation: fadein 1s forwards;
    padding: 10px;
    font-weight: 400;
}

#inicio p {
    padding: 10px;
}

#inicio a {
    text-decoration: none;
    transition: 200ms;
    color: rgb(151, 77, 180);
    animation: fadein 1s forwards;
}

#inicio a:hover {
    transition: 300ms;
    letter-spacing: 1px;
}

/* INÍCIO DA ABA VÍDEOS */

#videos {
    padding: 5px;
    border: 2px solid rgb(166, 120, 184);
    width: clamp(40%, 60%, 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(215, 212, 255);
    border-radius: 0 0 15px 15px;
    border-bottom: none;
    transition: 500ms;
    flex-direction: column;
    animation: fadein 1s forwards;
}

#videos h1 {
    animation: fadein 1s forwards;
    padding: 10px;
    font-weight: 400;
}

#videos img {
    width: 80%;
    transition: 350ms;
    cursor: pointer;
}

#videos img:hover {
    transition: 350ms;
    width: 85%;
}

#videos p {
    padding: 10px;
}

#cards, #card {
    display: flex;
    align-items: center;
    justify-content: center;
}

#card, #inicio, #login, #create {
    flex-direction: column;
}

/* INICIO DA ABA LOGIN */

#login {
    padding: 5px;
    border: 2px solid rgb(166, 120, 184);
    width: clamp(40%, 60%, 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(215, 212, 255);
    border-radius: 0 0 15px 15px;
    border-bottom: none;
    animation: fadein 1s forwards;
    min-height: 200px;
}

#login h1 {
    animation: fadein 1s forwards;
    padding: 10px;
    font-weight: 400;
}

#login p {
    padding: 10px;
}

#login a {
    text-decoration: none;
    transition: 200ms;
    color: rgb(151, 77, 180);
    animation: fadein 1s forwards;
}

#login a:hover {
    transition: 300ms;
    letter-spacing: 1px;
}

#login input:focus, #login textarea:focus, #login select:focus {
    animation: ocus 200ms forwards;
    transition: 200ms;
}

#loginbtn input:focus, #loginbtn textarea:focus, #loginbtn select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#login input {
    transition: ease-in-out;
    padding: 4px 0;
    width: 20%;
    background-color: rgb(215, 212, 255);
    margin-top: 10px;
    border-bottom: 0.5px solid blueviolet ;
}

#login-btn {
    margin-top: 20px;
    margin-bottom: 50px;

    padding: 10px 20px;

    width: 35%;

    border: 2px solid rgb(166, 120, 184);
    border-radius: 10px;
    background-color: rgb(215, 212, 255);
    color:  rgb(166, 120, 184);

    cursor: pointer;

    transition: 400ms;
}

#login-btn:hover {
    letter-spacing: 3px;
    transition: 400ms;
}

#login-btn:focus {
    animation: loginbtn 15s forwards;
    animation-fill-mode: forwards;
}

#createbtn {
    margin-bottom: 15px;
}

/* INICIO DA ABA CREATE */

#create {
    padding: 5px;
    border: 2px solid rgb(166, 120, 184);
    width: clamp(40%, 60%, 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(215, 212, 255);
    border-radius: 0 0 15px 15px;
    border-bottom: none;
    animation: fadein 1s forwards;
    min-height: 200px;
}

#create h1 {
    animation: fadein 1s forwards;
    padding: 10px;
    font-weight: 400;
}

#create p {
    padding: 10px;
}

#create a {
    text-decoration: none;
    transition: 200ms;
    color: rgb(151, 77, 180);
    animation: fadein 1s forwards;
}

#create a:hover {
    transition: 300ms;
    letter-spacing: 1px;
}

#create input:focus, #create textarea:focus, #create select:focus {
    animation: ocus 200ms forwards;
    transition: 200ms;
}

#createbtn input:focus, #createnbtn textarea:focus, #createbtn select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#create input {
    transition: ease-in-out;
    padding: 4px 0;
    width: 20%;
    background-color: rgb(215, 212, 255);
    margin-top: 10px;
    border-bottom: 0.5px solid blueviolet ;
}

#create-btn {
    margin-top: 20px;
    margin-bottom: 50px;

    padding: 10px 20px;

    width: 35%;

    border: 2px solid rgb(166, 120, 184);
    border-radius: 10px;
    background-color: rgb(215, 212, 255);
    color:  rgb(166, 120, 184);

    cursor: pointer;

    transition: 400ms;
}

#create-btn:hover {
    letter-spacing: 3px;
    transition: 400ms;
}

#create-btn:focus {
    animation: loginbtn 15s forwards;
    animation-fill-mode: forwards;
}

@keyframes ocus {
    from {
        border-bottom: 1px solid blueviolet ;
    }
    to {
        border-bottom: 3px solid blueviolet ;
        width: 60%;
    }
}

@keyframes loginbtn {
    0%, 5%, 15%, 25% {
        background-color: rgb(133, 184, 120);
        color: white;
    }
    10%, 20% {
        background-color: rgb(184, 120, 120);
        color: white;
    }
    30% {
        background-color: rgb(179, 81, 81);
        color: white;
    }
}

@keyframes fadein {
    from {
        opacity: 0%;
        display: flex;
    }
    to {
        opacity: 100%;
    }
}

@keyframes fadeleft {
    from {
        opacity: 0%;
        display: flex;
    }
    to {
        opacity: 100%;
    }
}